mark { 
    background-color: #EFECFC;
  }
  
.footer {
  .footer--section {
      padding-right: 1rem;
  }

  .footer--icon {
      width: 20px;
      height: 20px;

      position: relative;
      top: 2px;
      left: 2px;
  }
  height: 3rem;
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  padding-bottom: 1rem;
  justify-content: center;
}